@model PaginatedList<Dicer.Models.Campaign>

@{
    ViewData["Title"] = "Done";
}

<div class="container homeClientContent">
    <div class="form-row justify-content-center">
        <div class="col-md-2 mt-4">
            <span class="landingTitle">Status</span>
        </div>
        <div class="col-md-10 d-inline-flex h-100 mt-4">
            <a asp-action="Registered" class="btn btn-sm btn-primary unselectedBtn mr-2 w-25">Registered</a>
            <a asp-action="Done" class="btn btn-sm btn-primary selectedBtn  mr-2 w-25">Done</a>
        </div>
    </div>
    <hr />
    <div class="row float-start">
        @foreach (var item in Model)
        {
            var photoPath = "~/Img/Campaign/" + (item.CampaignImg ?? "noimage.jpg");
            <div class="card bg-light border-light" style="width: 20em; margin: 1em 1.25em 1em 1.25em">
                <div class="card-body">
                    <div class="cardImgContainer">
                        <img class="card-img-top DetailImg" alt="Card image cap" src="@photoPath" asp-append-version="true"/>
                    </div>
                    <input id="InitId" value=@item.CampaignId class="IdCard d-none"/>
                    <h6 class="card-title font-weight-bold mt-3">@item.ClientName</h6>
                    <h6 class="text-truncate">@item.CampaignName</h6>
                    <p class="contentType">@item.ContentType</p>
                    <h6 class="contentPrice">Rp. @item.Commission</h6>
                    <p class="card-text text-truncate">@item.Description</p>
                </div>
            </div>
        }
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Done"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-primary btn-sm font-weight-bold createBtn mt-3 @prevDisabled">
        Previous
    </a>
    <a asp-action="Done"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-primary btn-sm font-weight-bold createBtn mt-3 @nextDisabled">
        Next
    </a>
</div>



    
@section Scripts {
    <script src="~/js/HomeClient.js" asp-append-version="true"></script>
}