@model PaginatedList<Dicer.Models.Campaign>

@{
    ViewData["Title"] = "Accepted";
}

<div class="container homeClientContent">
    <div class="form-row justify-content-center">
        <div class="col-md-4">
            <span class="landingTitle">Status</span>
        </div>
        <div class="col-md-8 d-inline-flex h-100 mt-4">
            <a asp-action="Done" class="btn btn-sm btn-primary createBtn mr-2">History</a>
            <a asp-action="Declined" class="btn btn-sm btn-primary createBtn mr-2">Declined</a>
            <a asp-action="Accepted" class="btn btn-sm btn-primary createBtn mr-2">Accepted</a>
            <a asp-action="OnProgress" class="btn btn-sm btn-primary createBtn">On Progress</a>
        </div>
    </div>
    <hr />
    <div class="row float-start">
        @foreach (var item in Model)
        {
            var photoPath = "~/Img/Campaign/" + (item.CampaignImg ?? "noimage.jpg");
            <div class="card bg-light border-light" style="width: 20em; margin: 1em 1.25em 1em 1.25em">
                <div class="card-body">
                    <img class="card-img-top p" src=@photoPath alt="Card image cap" asp-append-version="true">
                    <input id="InitId" value=@item.CampaignId class="IdCard d-none"/>
                    <h6 class="card-title font-weight-bold mt-3">@item.ClientName</h6>
                    <h6 class="text-truncate">@item.CampaignName</h6>
                    <p class="contentType">@item.ContentType</p>
                    <h6 class="contentPrice">Rp. @item.Commission</h6>
                    <p class="card-text text-truncate">@item.Description</p>
                </div>
            </div>
        }
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="OnProgress"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="OnProgress"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>

    
@section Scripts {
    <script src="~/js/HomeClient.js" asp-append-version="true"></script>
}