@model CampaignViewModel
@inject UserManager<ApplicationUser> userManager;

@{
    var user = await userManager.GetUserAsync(User);
    ViewData["Title"] = "Create Campaign";
    var photoPath = "~/Img/Campaign/" + (ViewData["Img"] ?? "noimage.jpg");
    string strSpacer = "&nbsp;&nbsp;";
}
<input id="InitProvinsi" value= "@ViewData["Provinsi"]"/>
<input id="InitKota" value="@ViewData["Kota"]"/>
<input id="InitTypeTag" value="@Model.ContentType" class="d-none"/>

<div class="container profileCreatorContent">
    <div class="form-row justify-content-center">
        <div class="col-md-12">
            <span class="landingTitle">Campaign Details</span>
        </div>
    </div>
    <hr />
    <div class="form-row justify-content-around">
        <div class="col-md-4">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="DetailImgContainer">
                        <img class="card-img-top DetailImg" src="@photoPath" asp-append-version="true"/>
                    </div>
                </div>
            </div>
            <hr />
            @if (User.IsInRole("Client"))
            {
                <div class="form-row mb-3">
                    <div class="col-md-12">
                         <a asp-action="Edit" asp-route-id=@Model.CampaignId class="btn w-100 btn-sm btn-primary createBtn">Edit</a>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <a asp-action="Accept" asp-route-id=@Model.CampaignId class="btn w-100 btn-sm btn-primary createBtn">Accept</a>
                    </div>
                </div>
            }
            @if (User.IsInRole("Creator") && ViewData["isApply"] == "false")
            {
                <div class="form-row">
                    <form enctype="multipart/form-data" asp-action="Register" method="post">
                        <input id="campaignId" value = "@Model.CampaignId" name="campaignId" class="d-none" >
                        <button name="submit" type="submit" value="submit" class="btn btn-sm btn-primary createBtn">Apply</button>
                    </form>
                </div>
            }
        </div>
        <div class="col-md-6">
            <div class="containerDetail">
                <div class="form-group mb-3">
                    <h2 class="font-weight-bold">@Model.CampaignName</h2>
                </div>
                <hr />
                <div class="form-group mb-3">
                    <div class="form-row justify-content-start">
                        
                        @if (User.IsInRole("Creator"))
                        {
                            <div class="col-md-6 d-inline-flex pt-2">
                                <h4 class="font-weight-bold">Brand: </h4>
                                @Html.Raw(strSpacer)
                                <h4>@Model.ClientName</h4>
                            </div>
                            <div class="col-md-6 d-inline-flex flex-row-reverse h-100">
                                <a class="font-weight-bold typeBtn" id="typeTag">@Model.ContentType</a>
                            </div>
                        }
                        @if (User.IsInRole("Client"))
                        {
                            <div class="col-md-6">
                                <a class="font-weight-bold typeBtn" id="typeTag">@Model.ContentType</a>
                            </div>
                        }
                    </div>
                </div>
               <div class="form-group mb-3 d-inline-flex">
                   <h3 class="font-weight-bold">Price:</h3>
                   &nbsp;&nbsp;
                   <h3 class="detailPrice"> Rp. @Model.Commission</h3>
                </div>
                <div class="form-group mb-3">
                    <h4 class="font-weight-bold">Campaign Description</h4>
                </div>
                <div class="form-group mb-3">
                    <p>@Model.Description</p>
                </div>
                <div class="form-group mb-3">
                    <h4 class="font-weight-bold">Requirements</h4>
                </div>
                <div class="form-group mb-3">
                    <ul>
                        <li>Gender: @Model.Gender</li>
                        <li>Provinsi: @ViewData["Provinsi"]</li>
                        <li>Kota: @ViewData["Kota"]</li>
                        <li>Age: @Model.MinAge - @Model.MaxAge years old</li>
                        <li>Minimal Followers: @Model.MinFollowers</li>
                    </ul>
                </div>
                <div class="form-group mb-3">
                    <h4 class="font-weight-bold">Detail Task</h4>
                </div>
                <div class="form-group mb-3">
                    <p>@Model.Task</p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
@section Scripts {
    <script src="~/js/DetailClientCampaign.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
}