@model CampaignViewModel
@inject UserManager<ApplicationUser> userManager;

@{
    var user = await userManager.GetUserAsync(User);
    ViewData["Title"] = "Create Campaign";
    var photoPath = "~/Img/Campaign/" + (ViewData["Img"] ?? "noimage.jpg");
    string strSpacer = "&nbsp;&nbsp;";
    var gender = (Model.Gender ?? "Male or Female");
    var provinsi = (ViewData["Provinsi"] ?? "Any Provinsi");
    var kota = (ViewData["Kota"] ?? "Any Kota");
    var age = (Model.MinAge.ToString() ?? "All Ages") + " until " + (Model.MaxAge.ToString() ?? "Above");
    if (Model.MinAge == null && Model.MaxAge == null)
    {
        age = "Not Set";
    }
    string followersData = null;
    if(Model.MinFollowers != null)
    {
        followersData = String.Format("{0:n0}", Model.MinFollowers);
    }
    var followers = (followersData ?? "Not Set");

    //draft file
    var draftFilePath = ViewData["draftFile"];

    //insight file
    var insightFilePath = ViewData["insight"];

    //flag
    var isInsightDone = ViewData["isInsightDone"];
    var isTaskDone = ViewData["isTaskDone"];
}

<input id="InitProvinsi" value= "@ViewData["Provinsi"]" class="d-none"/>
<input id="InitKota" value="@ViewData["Kota"]" class="d-none"/>
<input id="InitTypeTag" value="@Model.ContentType" class="d-none"/>
<input id="InitCampaignId" value="@Model.CampaignId" class="d-none" />

<div class="container profileCreatorContent">
    <div class="form-row justify-content-center">
        <div class="col-md-12">
            <span class="landingTitle">Campaign Details</span>
        </div>
    </div>
    <hr />
    <div class="form-row justify-content-around">
        <div class="col-md-4">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="DetailImgContainer">
                        <img class="card-img-top DetailImg" src="@photoPath" asp-append-version="true"/>
                    </div>
                </div>
            </div>
            <hr />
            @if (User.IsInRole("Client"))
            {
                @if(ViewData["isAccept"] == "false")
                {
                    <div class="form-row mb-3">
                        <div class="col-md-12">
                             <a asp-action="Edit" asp-route-id=@Model.CampaignId class="btn w-100 btn-sm btn-primary createBtn">Edit</a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <a asp-action="Accept" asp-route-id=@Model.CampaignId asp-controller="MyCampaign" class="btn w-100 btn-sm btn-primary createBtn">Accept</a>
                        </div>
                    </div>
                }
                @if(ViewData["isAccept"] == "true" && ViewData["isDone"] == "false")
                {
                    <div class="form-row">
                        <div class="col-md-12">
                            <br>
                             <a asp-action="ProgressCampaign" asp-route-id=@Model.CampaignId asp-controller="MyCampaign" class="btn w-100 btn-sm btn-primary createBtn">View Progress</a>
                        </div>
                    </div>
                }
            }
            @if (User.IsInRole("Creator"))
            {
                @if(ViewData["isApply"] == "false" && ViewData["isQualify"] == "true")
                {
                    <div class="form-row">
                        <div class="col-md-12">
                            <form enctype="multipart/form-data" asp-action="Register" method="post">
                                <input id="campaignId" value = "@Model.CampaignId" name="campaignId" class="d-none" >
                                <button name="submit" type="submit" value="submit" class="btn btn-sm btn-primary createBtn w-100">Apply</button>
                            </form>
                        </div>
                    </div>
                }
                @if(ViewData["isApply"] == "true" && ViewData["isTaskDone"] == "False")
                {
                    <div class="form-row">
                        <div class="col-md-12">
                            <form enctype="multipart/form-data" asp-action="UploadDraft" asp-route-campaignId="@Model.CampaignId" asp-route-userId="@user.Id" method="post">
                                @if(draftFilePath != null)
                                {
                                    <a asp-action="downloadDraft" asp-route-draftFile="@draftFilePath">Draft File</a>
                                }
                                <div class="form-label mb-3">
                                    <input type="file" accept="video/*,image/*,.pdf,.word" name="draftFile" class="form-control" />
                                </div>
                                <button name="submit" type="submit" value="submit" class="btn btn-sm btn-primary createBtn w-100">Upload Draft</button>
                            </form>
                            <br>
                            <form enctype="multipart/form-data" asp-action="PostLink" asp-route-campaignId="@Model.CampaignId" asp-route-userId="@user.Id" method="post">
                                <a target="_blank" href="@ViewData["postLink"]">Post Campaign</a>
                                <div class="form-label mb-3">
                                    <input type="text" name="postLink" class="form-control" placeholder="link campaign" maxlength="300" value="@ViewData["postLink"]"/>
                                </div>
                                <button name="submit" type="submit" value="submit" class="btn btn-sm btn-primary createBtn w-100">Upload Campaign Result</button>
                            </form>
                            <a class="btn btn-sm btn-primary createBtn w-100" asp-action="Index" asp-controller="chat" asp-route-campaignId="@Model.CampaignId">Open Chat</a>
                        </div>
                    </div>
                }
                @if(ViewData["isApply"] == "true" && ViewData["isTaskDone"] == "True")
                {
                    <div class="form-row">
                        <div class="col-md-12">
                            <form enctype="multipart/form-data" asp-action="UploadInsight" asp-route-campaignId="@Model.CampaignId" asp-route-userId="@user.Id" method="post">
                                @if(insightFilePath != null)
                                {
                                    <a asp-action="downloadInsight" asp-route-insightFile="@insightFilePath">Insight File</a>
                                }
                                @if(insightFilePath == null)
                                {
                                    <div class="form-label">
                                    <input type="file" accept="image/*,.pdf,.word" name="InsightFile" class="form-control mb-3" />
                                </div>
                                <button name="submit" type="submit" value="submit" class="btn btn-sm btn-primary createBtn w-100">Upload Insight</button>
                                }
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-6">
            <div class="containerDetail">
                <div class="form-group mb-3">
                    <h2 class="font-weight-bold">@Model.CampaignName</h2>
                </div>
                <hr />
                <div class="form-group mb-3">
                    <div class="form-row justify-content-start">
                        
                        @if (User.IsInRole("Creator"))
                        {
                            <div class="col-md-6 d-inline-flex pt-2">
                                <h4 class="font-weight-bold">Brand: </h4>
                                @Html.Raw(strSpacer)
                                <h4>@Model.ClientName</h4>
                            </div>
                            <div class="col-md-6 d-inline-flex flex-row-reverse h-100">
                                <a class="font-weight-bold typeBtn" id="typeTag">@Model.ContentType</a>
                            </div>
                        }
                        @if (User.IsInRole("Client"))
                        {
                            <div class="col-md-6">
                                <a class="font-weight-bold typeBtn" id="typeTag">@Model.ContentType</a>
                            </div>
                        }
                    </div>
                </div>
               <div class="form-group mb-3 d-inline-flex">
                   <h3 class="font-weight-bold">Price:</h3>
                   &nbsp;&nbsp;
                   <h3 class="detailPrice"> Rp. @Model.Commission</h3>
                </div>
                <div class="form-group mb-3">
                    <h4 class="font-weight-bold">Campaign Description</h4>
                </div>
                <div class="form-group mb-3">
                    <p>@Model.Description</p>
                </div>
                <div class="form-group mb-3">
                    <h4 class="font-weight-bold">Requirements</h4>
                </div>
                <div class="form-group mb-3">
                    <ul>
                        <li>Gender: @gender</li>
                        <li>Provinsi: @provinsi</li>
                        <li>Kota: @kota</li>
                        <li>Age: @age (year)</li>
                        <li>Minimal Followers: @followers</li>
                    </ul>
                </div>
                <div class="form-group mb-3">
                    <h4 class="font-weight-bold">Detail Task</h4>
                </div>
                <div class="form-group mb-3">
                    <p>@Model.Task</p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
@section Scripts {
    <script src="~/js/DetailClientCampaign.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
}